<div class="home">
  <div class="home-first">
    <div>
      <h1>Votre déménagement sur mesure</h1>
      <p>Déménager avec Asdem Conseil, c’est mettre à votre disposition tout notre savoir-faire, y compris en manutention lourde.</p>
      <%= link_to "Demander un devis", devis_path, class: "btn-blue" %>
    </div>
    <%= image_tag "home-img.png", class: "home-img home-img-hide" %>
  </div>

  <div class="home-second">
    <h2>Organisez votre déménagement à la carte à Paris, partout en France et à l'international</h2>
    <p>Chez Asdem Conseil, nos experts bénéficient de plus de trente ans d'experience et d'un grand savoir-faire dans le transport de vos objets fragiles : pianos, lustres, billards, marbres, oeuvres d'art...</p>
    <p>La satisfaction de nos clients est une priorité : nous nous adaptons à vos besoins en vous proposant d'organiser votre déménagement sur mesure et nous vous accompagnons au mieux du début à la fin.</p>
  </div>

  <div class="icons">
    <div class="icon">
      <%= image_tag "truck.png", class: "home-img" %>
      <h3><b>Particuliers ou entreprises</b></h3>
      <p>Déménagez avec du personnel qualifié à bord de camions capitonnés, équipés de matériel adapté</p>
    </div>
    <div class="icon">
      <%= image_tag "move.png", class: "home-img" %>
      <h3><b>Facilitez vous la vie</b></h3>
      <p>Nous mettons en place des options sur mesure afin de s'adapter à vos besoins. Une installation sans encombres et sans contraintes !</p>
    </div>
    <div class="icon">
      <%= image_tag "happy.png", class: "home-img" %>
      <h3><b>Nos points forts</b></h3>
      <p>Pianos, billards, coffre-fort, oeuvres d'arts, lustres, etc.. Nous avons le savoir-faire pour transporter l'ensemble de ces objets particuliers et fragiles.</p>
    </div>
  </div>
</div>
